#navbottom {
   background:  #3C9C23;
   font-size:5vw;
   padding: 2%;
   height:8%;
   color:white;
}
 
#navbottom .oki{

   background-color: white;
   color:#3C9C23;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   font-size: 88%;
   padding-left: 3%;
   padding-right: 3%;
   padding-top:1%;
   padding-bottom: 1%;
}
#navbottom span {
   margin-right: 8%;
   margin-left: 8%;
   padding: 3%;
}
