 #navbartopcat p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-top:-9px;
    margin-left: 30vw;
    
 }

#navbartopcat .row{
    margin-top:10px;
  
   
    
}
.arrowb{
    margin-left: 5px;
    width: 14px;
    height:14px; 
}