 #navbartopcat p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px; 
    margin-top:5px;
    margin-left: 30vw;
    
 }

#navbartopcat .row{
    height: 35px;
    margin-top:4px;
  
   
    
} 
#navbartopcat .arrowb{
    margin-top:15px;
    margin-left: 5px;
    width: 14px;
    height:14px; 
}
#icon {
    margin-top:16px;
    margin-bottom:16px;
}