#ButtonPedido.footer {
   background:  #3C9C23;
   /* height: 8%;
   font-size:100%; 
   padding: 2%; */
}
/* #ButtonPedido button{
   background: transparent;
   border: none;
   color: white; 
   height: 110%;
   width:200%;
}
#ButtonPedido p{
margin-right: 7%;
margin-left:5%
}
#ButtonPedido a{
   margin-left: 1%;
   margin-right: 8%;
   background-color: white;
   color:black;
   width:3%;
   height: 2%;
   border-radius: 100%;
} */
