#navbartop p{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-left: 24vw;
    margin-top:12px;
    font-size: 20px;
   
}
/* #navbartop .row{
    margin-top:22px;
   
    
} */
.arrowb{
    margin-left: 5px;
    width: 14px;
    height:14px; 
    margin-top: 19px;
}
#arrowd{
    position: absolute;
    top:3px;
    left:2px;
    width: 8px;
    height:8px;
}
/* .icon1{
    margin-left:3%;
    margin-top:8px;
} */
/* .icon2{
margin-top:7%;
} */
.arrowd{
    margin-top:20px;
    margin-left:5px;
    position: relative;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: solid 1px black;
}
/* #navbartop textarea{
 width:270px;
 height:30px ;
 margin-left: 8%;
 text-align: center;
 border: none;
} */
