#navbartopfav p{
   margin-left:20vw;
   text-align: center;
   font-family: 'Rubik', sans-serif;
   font-size: 20px; 
   margin-top:8px;
}
#navbartopfav .row{
    height: 35px;
    margin-top:4px;
    
}
#navbartopfav .arrowb{
    margin-top:15px;
    margin-left: 5px;
    width: 14px;
    height:14px; 
}