#shopslist{
    margin-top:5vh;
   
}
#shopslist .row{
   align-items: center;
   justify-content: center;
    
}
#shopslist .shops img{
 height: 130px;
 width: 130px;
}
#shopslist .shops{
    height: 130px;
    width: 130px;
    margin: 3vw;
    border:1px solid #e6e5e2; 
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px  #e6e5e2
}